html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  --background: #000;
  --header-text: #fff;
  --body-text: #a6a6a6;
  --label-text: #787878;
  --badge-color: #262626;
  --badge-text: #a6a6a6;

  --gutter: 48px;

  background: var(--background);
  color: var(--body-text);
  scroll-behavior: smooth;
}

* {
  color: var(--body-text);
  box-sizing: border-box;
  margin: 0;
}

a {
  color: var(--header-text);
  text-decoration: underline;
  font-weight: bold;
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text);
}
h1 span {
  color: var(--header-text);
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

.page-container > div {
  padding-top: var(--gutter);
}

.page-container:last-child {
  margin-bottom: calc(var(--gutter) * 4);
}

.page-container > div > h2 {
  margin-bottom: 24px;
}

.page-container > div > h3 {
  margin-bottom: 18px;
}
.page-container > div > h4 {
  margin-bottom: 18px;
}

.page-container > div p {
  margin-bottom: 12px;
  line-height: 1.6;
}

code {
  color: var(--header-text);
}

pre {
  background: transparent !important;
  font-size: 14px;
  border: none !important;
}

/* @media (prefers-color-scheme: light) {
  html,
  body {
    --background: #fff;
    --header-text: #000;
    --body-text: #757575;
    --label-text: #787878;
    --badge-color: #000;
    --badge-text: #fff;
  }
} */
