.container {
  padding: var(--gutter) var(--gutter) 64px;
}

.title {
  font-size: 74px;
  margin-left: -1px;
  line-height: 1;
}

.label {
  font-size: 18px;
  font-weight: 700;
  color: var(--label-text);
}

.labelContainer {
  margin-top: 8px;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  transform-origin: center center;
  animation-delay: 1000ms;
}

.badge {
  margin-left: 12px;
  padding: 2px 8px;
  border-radius: 8px;
  background: var(--badge-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.badge p {
  color: var(--badge-text);
}

.box {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  margin: -10px 0;
  padding: 10px 0;
  margin-top: -26px;
}

.delay {
  animation-delay: 200ms;
}
