.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.navigationContainer {
  width: 380px;
  height: 100vh;
  position: relative;
}

.bodyContainer {
  flex-grow: 1;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px;
}
