.navigation {
  padding: 0px var(--gutter);
  position: sticky;
  top: var(--gutter);
  left: 0;
  width: 100%;
  margin-top: -24px;
}

.navigation > .item {
  margin: 24px 0;
}

.item {
  color: var(--label-text);
  font-size: 16px;
  font-weight: 500;
  display: block;
  text-decoration: none;
}

.active {
  color: var(--header-text);
}
